/venv
/.DS_Store
/output
/frame0.jpg
/frame1.jpg
/frame2.jpg
/frame3.jpg
/frame4.jpg
/training/.DS_Store
/validation.DS_Store
/training/sirus_salari
/validation/sirus_salari_1.jpg
/validation/sirus_salari_2.jpg
/validation/sirus_salari_3.jpg
/validation/sirus_salari_4.jpg
/validation/sirus_salari_5.jpg